* {
    padding: 0;
    margin: 0;
}

body{
    
}

.header {
    width: 100vw;
    height: 50px;
    background-color: rgba(53, 151, 222, 0.75);
    position: relative;
    position: fixed; /*tạo thuộc tính lơ lửng không ảnh hưởng khi lăn chuột*/
    z-index: 1
}
.header img {
    height: 100px;
    position: absolute;
    top: -22px;
    left: 10px
}

.header h1{
    text-align: center;
    line-height: 50px
}

.container {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1.1fr 8.9fr;
}

.body-left {
    /* height: 100%; */
    background-color: rgba(225, 227, 227, 0.4);
    border-right: 2px solid rgba(225, 227, 227);
    /* position: fixed; */
}

.body-left div {
    display: flex;
    height: 50px;
    border-bottom: 2px solid rgba(225, 227, 227);
    padding-left: 10px;
    align-items: center;
}

.body-left div:hover {
    background-color:rgba(72, 191, 227, 0.996);
    transition: 0.1s;
}

a {
    text-decoration: none;
}
.body-left div img{
    height: 50px;
}
.body-left div h4 {
    padding-left: 10px;
    color: rgb(28, 26, 26);
}

.body-left div:hover h4 {
    /* color: white; */
}

.body-right {
    /* height: 100; */
}

.right1 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 2%;
    padding: 10px 60px;
}

.right1-contain {
    height: 70px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 3fr 7fr;
}
/* .right1-contain input {
    border: none;
    background-color: rgba(255,255,255, )
} */
.right1 .img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.right1 .img img {
    height: 40px;
}

.right1 .text {
    margin: auto 0;
}
.right1 input {
    border: 0;
    outline: none;
    background-color: rgba(53, 151, 222, 0);
    font-weight: bold;
}
.right1 .text {
    margin: auto 0;
    font-size: 20px;
}

.right1 .text span {
    font-size: 1rem
}

.right2 {
    display: grid;
    grid-template-columns: 5fr 5fr;
    gap: 10%;
    margin: 0 200px;
    height: 130px;
}

.right2>div {
    border: 2px solid #c3c0c0;
    border-radius: 5px;
}

.right2>div .top {
    display: flex;
    padding-left: 10px;
    height: 30px;
    align-items: center;
    background-color:rgb(231, 231, 231);
}

.right2>div .bottom{
    border-top: 1px solid #c3c0c0;
    padding: 10px 10px;
    padding-bottom: 0;
}

.right2>div .bottom >div{
    height: 30px
}

.right2>div .bottom >div input {
    width: 15px;
    float: right;
    border: none;
    border-bottom: 1px solid #dcdcdc;
    outline: none;
    text-align: center;
    font-weight: bold;
}

.right3 {
    display: grid;
    grid-template-columns:8fr 2.5fr;
    margin-top: 20px;
    /* background-color:rgba(72, 191, 227, 0.996); */
    height: 100vh;
    background-color: rgba(240,255,255,0.5);
}

.table table {
    width: 100%;
    background-color: azure;
    /* border: 1px solid rgb(193, 191, 191); */
    border-radius: 5px;

}
.table td {
    text-align: center;
}

.table button {
    font-weight: bold;
    width: 60px;
}

.table .delete{
    background-color:rgb(66, 211, 46);
}

.table .edit{
    background-color:rgb(246, 249, 105);
}

.input {
    background-color: rgba(245, 245, 220, 0.4 );
    border-radius: 10px;
}
.input h1{
    text-align: center;
    padding: 5px 0
}

.input>button {
    width: 60px;
    margin-left: 5px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(66, 211, 46);
    font-weight: bold;
}
.input table {
    width: 90%;
    margin-left: 5px;
}
.input table tr td {
    height: 30px;
}

.input table tr td input {
    width: 100%;
    height: 20px;
    margin-left: 10px;
    padding-left: 5px 
}
.input table tr td .date1{
    width: 116px
}
.input table tr td .date2 {
    width: 116px
}