:root {
    --bg1 : #9b59b6;
    --bg2 : #3498bd;
    --text: #26ade4;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, var(--bg1), var(--bg2));
}

.container h4{
    text-align: left
}

.form-Forgot-password {
    width: 300px;
    height: 400px;
    background: white;
    border-radius: 10px;
    padding: 30px 30px
}

.form-Forgot-password h1 {
    margin-bottom: 30px
}

.form-Forgot-password button {
    height: 35px;
    width: 40%;
    background: linear-gradient(to bottom right, var(--bg1), var(--bg2));
    border: none;
    color: rgb(250, 250, 250);
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-Forgot-password span{
    padding-top: 5px;
}

.form-text {
    margin-bottom: 20px;
}

.form-text input {
    width: 100%;
    height: 25px;
    border: none;
    border-bottom: 3px solid #e8e8e8; 
}